body {
    display: flex;
    justify-content: center;
    /* font-family: Graphik, Helvetica, sans-serif; */
    font-family: Helvetica;
    background: rgb(178,198,233); 
    background: linear-gradient(180deg, rgba(178,198,233,1) 0%, rgba(209,229,254,1) 15%, rgba(255,255,255,1) 30%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parent-card {
    /* border-style: solid #000; */
    height: fit-content;
    width: 25em;
    border: 10px;
    padding: 10px 10px 90px 10px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
    margin: 5% 0px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.logo-home-button-container {
    display: flex;
    align-items: center;
    margin: 28px 0px 25px 0px;
    cursor: pointer;
}

.logo-home-button {
    display: flex;
    flex-direction: row;
    font-size: 4rem;
    margin: .5rem;
    font-family: Graphik-Semibold,sans-serif;
    font-weight: 600;
    color: rgb(63, 63, 63);
}

.main-logo {
    width: 50px;
    height: 50px;
    margin-bottom: -3px;
    opacity: 0.9;
}

.sign-in-message {
    margin-bottom: .5em;
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(63, 63, 63);

}

.sign-up-message {
    margin-bottom: .5em;
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(63, 63, 63);

}

.sign-in-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input {
    border-style: solid rgb(0, 0, 0, .25);
    border-radius: .75em;
    width: 74%;
    padding: .5em 1em;
    /* font-size: 1em; */
    margin: 0 0 1em 0;
}

.sign-in-button {
    border-style: none;
    background-color: rgb(63, 63, 63);
    color: white;
    border-radius: .75em;
    width: 81%;
    padding: .65em 0;
    /* font-size: 1em; */
    margin: 1em 0 1em 0;
}

.sign-up-button {
    border-style: none;
    background-color: rgb(63, 63, 63);
    color: white;
    border-radius: .75em;
    width: 81%;
    padding: .65em 0;
    /* font-size: 1em; */
    margin: 1em 0 1em 0;
}

.or-space {
    color: rgba(0, 0, 0, 0.25);
}

.provider-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* flex-direction: ; */
    border-style: none;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, .25);
    width: 80%;
    border-radius: .5em;
    font-size: 1em;
    padding: .5em 0;
    margin: 1em 0 0 0;
}

.provider-container:hover {
    background-color: rgba(0, 0, 0, 0.025);
}

.provider-logo {
    height: 1em;
    position: absolute;
    margin-left: .5em;
    width: 30;
}



.provider-message {
    height: 1em;
    position: relative;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.alt-link-container {
    width: 80%;
    margin-top: 1.5em;
}

.sign-up-link {
    font-size: .75em;
    width: 80%;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

.sign-in-link {
    font-size: .75em;
    width: 80%;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

#signUpLink {
    color: #5384f5
}

#signInLink{
    color: #5384f5
}

#demoUserLink {
    color: #5384f5
}

/* Sign-up page */

.error-message-container {
    width: 78%;
    display: flex;
    justify-content: left;
}

.error-message {
    display: none;
    /* margin: -1em 0 0 0; */
    color: rgb(255, 0, 0);
    font-size: .75em;
}

.is-focused {
    border-color: red;
    border-style: solid;
    background-color: white;
}

.hidden-sign-in-form {
    display: none;
}