@media (prefers-color-scheme: light) {
  body {
      background-color: #f5f5f5;
      color: #cdcdcd;
  }
  button {
    background-color: #c9c9c9;
    color: #ffffff;
  }
}
@media (prefers-color-scheme: dark) {
  body {
      background-color: rgb(24, 26, 27, 0.9);
      color: rgb(24, 26, 27, 0.9);
  }
  button {
    background-color: rgb(24, 26, 27, 0.9);
    color: rgba(44, 42, 44, 0.9);
  }
}

@keyframes slideIn {
  0% {
    margin-left: 100%;
    width: 0px;
  }
  100% {
    margin-left: 0;
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: Helvetica;
  padding: 0;
  margin: 0;
}

#honme {
  display: none;
}

.hidden {
  display: none;
}

.set-background-form-btn {
  background-color: transparent;
  border: none;
  color: inherit;
  width: 10em;
  display: flex;
  justify-content: left;
}

.set-background-form {
  width: 10em;
}

.set-background-form-input {
  border-radius: 1em;
  width: 95%;
}

.udo-background-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal.open {
  display: block;
  z-index: 501;
}

.overlay.open {
  display: block;
  z-index: 500;
}

header {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding: 0px 25px;
  min-height: 40px;
  height: 5vh;
  transition: box-shadow .25s;
  border-width: 1.5px;
  border-bottom-style: solid;
  z-index: 1;
  box-shadow: 0 0 20px 0px rgb(0, 0, 0, .25);
}

.nav-logo {
  margin-bottom: -2px;
}

/* user dropdown modal */
.user-dropdown-modal {
  position:fixed;
  right: .2em;
  top: calc( 5vh + .2em );
  border-radius: 5px;
  height: fit-content;
  width: fit-content;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  box-shadow: 0 0 20px 0px rgb(0 0 0 / 25%);
}

.user-icon-medium {
  border-radius: 50%;
  background-color: rgba(131, 127, 127, 0.99);
  padding: .25em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 2em;
  min-height: 2em;
  margin-right: .5em;
  font-size: 1.5em;
}


.user-dropdown-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  border-radius: 10px;
}

.udo-account-label {
    font-size: 1em;
    margin-bottom: .5em;
    margin-top: 0;
}


.udo-master {
  display: flex;
  flex-direction: column;
  padding: 1.25em .9em 15px .9em;
}

.udo-user-card {
  display: flex;
  flex-direction: row;
}

.user-dropdown-overlay-inside-user-card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .5em 0;
}

.udo-name {
  font-weight: 600;
}

.udo-email {
  font-size: .9em;
}

.udo-link {
  padding: .5em 0;
  font-size: .9em;
}

.udo-dark-mode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.udo-dark-mode-btn {
  background-color: black;
  border: none;
  width: 4.5em;
  height: 2em;
  border-radius: 15em;
}

.udo-background-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logoutButton {
  border: none;
  background-color: transparent;
  font-size: .9em;
  padding: 10px;
  border-radius: 5px;
}

#logoutButton:hover {
  background-color: rgb(0, 0, 0, .15);
}

/* lower half */
.lower-half {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.lower-half-sub-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.sidebar-button-circle {
  display: none;
}

.sidebar-button {
  display: none;
}

.dashboard-master {
  width: 20em;
  min-width: 10em;
  height: 95vh;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  border-right: solid 1px rgb(0, 0, 0, .25);
  box-shadow: 0 0 20px 0px rgb(0, 0, 0, .25);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#project-container {
  display: flex;
  flex-wrap: wrap;
}

#shared-project-container {
  display: flex;
  flex-wrap: wrap;
}

.project-section-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.new-project-btn {
  border-radius: 25px;
  color: inherit;
  border-style: none;
  padding: 7px 10px;
  margin: 0 5px;
  cursor: pointer;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card {
  background-color: rgb(58, 58, 58);
  width: 165px; 
  height: 110px;
  margin: 10px;
  border-radius: 10px;
  color: white;
  font-family: Graphik-Semibold,sans-serif;
  font-size: 16px;
}

.project-id-card {
  display: none;
}

.modal {
    display: none;
  }

.all-other-modals {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: .75rem;
  background-color: white;
  width: 30%;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.overlay {
  display: none;
}

.blurred-overlay {
  display: none;
  background-color: transparent;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.clear-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content-section {
  width: 100%;
  margin: 1% 2% 0 2%;
}

.card-fade-overlay {
  width: inherit;
  height: inherit;
  background-color: transparent;
  position: absolute;
  border-radius: 10px;
}

.project-card:hover .card-fade-overlay {
  background-color: rgb(0, 0, 0, .15);
}

.card-content-overlay {
  width: 38vw;
  max-width: 150px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0 10px 10px;
}

.card-content-overlay-project-title {
  width: inherit;
  z-index: 3;
}

.card-content-overlay-bottom-row {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 auto;
}

.card-content-overlay-favorite-btn-container {
  width: 10px;
  height: 20px;
  opacity: 0;
  border-radius: 10px;
  display: block;
  -webkit-transform: translateZ(0);
  transition-duration: .15s;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-right: 2px;
}

.project-card:hover .card-content-overlay-favorite-btn-container {
  margin-right: 9px;
  opacity: 1;
  width: 20px;
}

.card-content-overlay-favorite-btn-container.favorited {
  margin-right: 9px;
  opacity: 1;
  width: 20px;
}

.card-content-overlay-favorite-btn-star {
  content: url(../images/icon_star_not_favorited.png);
  width: 12px;
  height: 12px;
  padding-left: 2px;
}

.card-content-overlay-favorite-btn-star.favorited {
  content: url(../images/icon_star_favorited.png);
}

.starred-project-section-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

#starred-project-container {
  display: flex;
  flex-wrap: wrap;
}

.delete {
  display: none;
}

#projectCardMaster {
  z-index: 5;
}

/* toggle button */
.sliding-input {
	height: 0;
	width: 0;
	visibility: hidden;
}

.sliding-input-label {
	cursor: pointer;
	text-indent: -9999px;
	width: 3.5em;
	height: 2em;
	background: #d3d3d361;
	display: block;
	border-radius: 2em;
	position: relative;
  -webkit-tap-highlight-color: transparent;
}

.sliding-input-label:after {
	content: '';
	position: absolute;
	top: .15em;
	left: .15em;
	width: 1.7em;
	height: 1.7em;
	background: #fff;
	border-radius: 2em;
	transition: 0.3s;
}

.sliding-input:checked + .sliding-input-label {
	background: grey;
}

.sliding-input:checked + .sliding-input-label:after {
	transform: translateX(calc(100% - .2em));
}

/* populateProjectManager() */
.project-li-master {
  height: 2em;
}

.project-li-sub-master {
  height: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0% 10% 0% 10%;
}

.project-li-master:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.project-li-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  max-width: 85%
}

.project-li-icon {
  background-size: cover;
  background-position: 50%;
  min-width: 1em;
  min-height: 1em;  
  max-width: 1em;
  max-height: 1em;
  margin-left: .1em;
  border-radius: .1em;
}

.project-li-kebab-button {
  background-color: transparent;
  border: none;
  color: inherit;
  min-width: 2em;
  min-height: 2em;  
  max-width: 2em;
  max-height: 2em;
}

.project-li-kebab-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: .1em;
}

.edit-project-modal {
  height: 2em;
  z-index: 9999;
  transform: translate(0px, -2em);
  font-size: inherit;
}

.project-li-modal-delete-btn {
  background-color: rgb(228, 23, 23);
  color: white;
  border: none;
  font-size: 1em;
  position: relative;
  width: 100%;
  height: 2em;
  padding: 0;
  margin: 0;
  animation: fadeIn .15s, slideIn .15s linear;
}

.edit-project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-right: 100vw;
}

.project-li-name-changer-form {
  margin: 0;
  display: flex;
  align-items: center;
}

.project-name-changer-input {
  font-size: 16px;
  width: 100%;
}