.user-dropdown-modal {
  position:fixed;
  /* right: 25px; */
  right: 0;
  top: 5vh + 1px;
  height: 50vh;
  width: 15vw;
  background-color: rgb(0, 0, 0, .5);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

.dashboard-master {
  width: 20em;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  border-right: solid rgb(0, 0, 0, .25);
  box-shadow: 0 0 20px 0px rgb(0, 0, 0, .25);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#project-container {
  display: flex;
}

#shared-project-container {
  display: flex;
}

.project-section-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
}


.project-card {
    background-color: rgb(58, 58, 58);
    width: 150px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-family: Graphik-Semibold,sans-serif;
    /* font-weight: 800; */
    font-size: 16px;
}

.project-card:hover {
  background-color: rgb(40, 40, 40);

}

.project-id-card {
  display: none;
}

#modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 1rem;
    border-radius: .25rem;
    background-color: white;
  }
  
  #overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .75);
  }

  .content-section {
    width: 100%;
    margin: 1% 2% 0 2%;
  
  }