#project-container {
  display: flex;
}

#shared-project-container {
  display: flex;
}

.project-section-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
}


.project-card {
    background-color: rgb(58, 58, 58);
    width: 150px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-family: Graphik-Semibold,sans-serif;
    /* font-weight: 800; */
    font-size: 16px;
}

.project-card:hover {
  background-color: rgb(40, 40, 40);

}

.project-id-card {
  display: none;
}

#modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 1rem;
    border-radius: .25rem;
    background-color: white;
  }
  
  #overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .75);
  }

  .content-section {
    width: 100%;
    margin: 1% 2% 0 2%;
  
  }