@media (max-width: 800px) {

    /* top row **************************************************************** */
    
    body {
        /* background-size: auto 100vh; */
        background-attachment: fixed;
    }

    
    
    .master-container {
        width: 100vw;
        /* height: 100vh; 113022 */
        overflow: hidden;
        /* overflow-y: scroll */
    }
    
    .navbar {
        height: 3em;
        position: fixed;
        z-index: 1000;
        width: 100vw;
        overflow-x: hidden;
        padding: 0;
        margin: 0;
        z-index: 1003;
    }
    
    #logoutButton {
        width: 100vw;
        height: 10vh;
        border: none;
    }
    
    
    .lower-half {
        width: 100vw;
        display: flex;
        flex-direction: column;
        height: auto;
        /* margin-top: 5vh; */
    }
    
    .mobile-spacer {
        height: 3em;
    }
    
    .lower-half-sub-container {
        display: flex;
        flex-direction: row;
    }
    
    .sidebar-button-circle {
        border-radius: 50px;
        aspect-ratio: 1;
        width: 25px;
        height: 25px;
        border: solid black;
        background-color: rgb(255, 255, 255, .3);
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(40px);
        position: fixed;
        left: 0;
        top: 9.5%;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 4px;
        font-size: .75em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
    }
    
    .sidebar-button-bar {
        /* position: absolute; */
        width: 18px;
        height: 160vh;
        top: 0%;
        left: 0;
        position: fixed;
        border-right: solid black;
        background-color: rgb(255, 255, 255, .3);
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(40px);
    }
    
    .sidebar-button-bar-spacer {
        width: 18px;
    
    }
    
    /* .dashboard-and-bar {
        display: flex;
        flex-direction: row;
        position: absolute;
        z-index: 8;
        right: 416px;
    } */
    
    /* .blurred-overlay {
        position: fixed;
        height: 95vh;
        top: 9.5%;
        left: 0%;
    } */
    
    .dashboard-master {
        z-index: 1002;
        /* padding: 0 20px; */
        width: 75vw;
        top: 9.5%;
        position: fixed;
        height: 95vh;
        overflow: scroll;
        left: -75vw;
        top: 3em;
    }
    
    .dashboard-links {
        margin: 0 50px;
    }
    
    .content-section {
        /* width: 100%; */
        /* margin: 1% 2% 0 2%; */
        /* overflow-y: visible; */
        /* height: 200vh; */
        width: 100vw;
        /* width: calc(100vw - 18px);
        height: calc(100vh - 3em); */
        margin: 0;
        /* overflow-x: hidden; 113022 */
        /* overflow-y: visible 113022 */
    }
    
    .page-header {
        padding-left: 5%;
        margin: 4% 0 2% 0;
    }
    
    .top-row {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
        height: 85vh;
      
        /* gap: 5% */
        /* margin: 0 5% 0 5%; */
      }
    
    .team-members {
        width: 90%;
        margin-bottom: 1em;
        height: 30vh;
    }
    
    .ticket-section {
        width: 90%;
        margin-bottom: 1em;
    }
    
    .bottom-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height: 100%; */
        margin: 0 0 1em 0;
        /* padding-bottom: 6vh; */
        height: 39.5em;
    }
    
    .big-wrap {
        margin: 0;
        width: 90%;
    }
    
    
    .ticket-info {
        display: flex;
        flex-direction: column;
    }
    
    .left-ticket-info-section {
        border-bottom: solid black;
        height: 17.5vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    .chatbox {
        width: 100%;
        height: 60vh;
    }
    
    .right-chat-section {
        width: 100%;
        border: none;
        height: 60vh;
    }
    
    .user-dropdown-modal {
        position: fixed;
        width: 100vh;
        height: 100vh;
        left: 0;
        top: 3em;
    }
    
    



/* NONUNIVERSAL ------------------------------------------------------------------------------------ */


  .all-other-modals {
    z-index: 500;
    position: fixed;
    height: 80vh;
    width: 80vw;
    top: 53vh;
    }

    .blurred-overlay {
        position: fixed;
        height: 100vh;
        width: 100vw;
        left: 0%;
    }

    .clear-overlay {
        position: fixed;
        height: 100vh;
        width: 100vw;
        left: 0%;
    }

    p {
        padding-left: 5%;
      }
    
      #project-container {
        padding-left: 5%;
      }
    
      #shared-project-container {
        padding-left: 5%;
      }
      
    
      .project-card {
        margin: 10px 10px 10px 0;
      }
}

