@media (max-width: 800px) {
    /* top row */
    body {
        background-attachment: fixed;
    }

    .master-container {
        width: 100vw;
        overflow: hidden;
    }

    header {
        height: 3em;
        position: fixed;
        z-index: 1000;
        width: 100vw;
        overflow-x: hidden;
        padding: 0 4px 0 4px;
        margin: 0;
        z-index: 1003;
    }

    .nav-logo {
        margin-bottom: 0;
    }

    .nav-user-icon {
        margin: 0 9px 0 0;
    }

    #logoutButton {
        border: none;
        background-color: transparent;
        font-size: .9em;
        margin-bottom: .5em;
    }

    .lower-half {
        width: 100vw;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .mobile-spacer {
        height: 3em;
    }

    .lower-half-sub-container {
        display: flex;
        flex-direction: row;
    }

    .sidebar-button-circle {
        border-radius: 50px;
        aspect-ratio: 1;
        width: 25px;
        height: 25px;
        border-width: 1px;
        border-style: solid;
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(40px);
        position: fixed;
        left: 0;
        top: 9vh;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 4px;
        font-size: .75em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    .sidebar-button {
        display: block;
    }   

    .sidebar-button-bar {
        width: 18px;
        height: 160vh;
        top: 0%;
        left: 0;
        position: fixed;
        border-width: 1px;
        border-right-style: solid;
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(40px);
    }

    .sidebar-button-bar-spacer {
        width: 18px;
    }

    .dashboard-master {
        z-index: 1002;
        width: 75vw;
        top: 9.5%;
        position: fixed;
        height: 95vh;
        overflow: scroll;
        left: calc(-75vw - 1px);
        top: 3em;
    }

    .dashboard-links {
        margin: 0 50px;
    }

    .pie-container {
        height: unset;
        width: 80%;
    }

    .pie-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 4vh;
    }

    .content-section {
        width: 100vw;
        margin: 0;
    }

    .page-header {
        padding-left: 5%;
        margin: 4% 0 2% 0;
    }

    .top-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 85vh;
    }

    .team-members {
        width: 90%;
        margin-bottom: 1em;
        height: 30vh;
    }

    .ticket-section {
        width: 90%;
        margin-bottom: 1em;
        height: 55vh;
    }

    .bottom-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0 1em 0;
        height: 39.5em;
    }

    .big-wrap {
        margin: 0;
        width: 90%;
    }

    .ticket-info {
        display: flex;
        flex-direction: column;
    }

    .ticket-info-section {
        width: 100%;
    }

    .left-ticket-info-section {
        border-bottom: solid 1px black;
        height: 26vh;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: .5em .5em .5em 3%;
    }

    .mobile-top {
        display: flex;
        min-height: 3em;
    }

    .ticket-info-row-top {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    #populated-description-section {
        min-height: 2em;
    }

    .ticket-info-row-bottom {
        margin-top: 1em;
        margin-bottom: 0;
    }

    .chatbox {
        width: 100%;
        height: 49vh;
    }

    .right-chat-section {
        width: 100%;
        border: none;
        height: 49vh;
    }

    .user-dropdown-modal {
        position: fixed;
        width: 80vw;
        height: fit-content;
        right: .2em;
        top: 3.3em;
        border-radius: 10px;
    }

    .user-icon-medium {
        margin-right: 1em;
    }

    /* NONUNIVERSAL */
    .udo-account-label {
        font-size: 1em;
        margin-bottom: .5em;
        margin-top: 0;
    }

    .all-other-modals {
        z-index: 500;
        position: fixed;
        height: 80vh;
        width: 80vw;
        top: 53vh;
    }

    .blurred-overlay {
        position: fixed;
        height: 100vh;
        width: 100vw;
        left: 0%;
    }

    .user-dropdown-overlay {
        position: fixed;
        width: 100vw;
        height: 100vh;
        border-radius: 10px;
    }

    .udo-master {
        display: flex;
        flex-direction: column;
        padding: 1.25em .9em;
    }

    .udo-user-card {
        display: flex;
        flex-direction: row;
    }

    .user-dropdown-overlay-inside-user-card-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: .5em 0;
    }

    .udo-name {
        font-weight: 600;
    }

    .udo-email {
        font-size: .9em;
    }

    .udo-link {
        padding: .5em 0;
        font-size: .9em;
    }

    .udo-dark-mode {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .udo-dark-mode-btn {
        background-color: black;
        border: none;
        width: 4.5em;
        height: 2em;
        border-radius: 15em;
    }

    .team-member-delete-button {
        height: 2.5vh;
        width: 87.5vw;
        top: -2.28vh;
    }

    .ticket-delete-button {
        height: 2.5vh;
        width: 87.5vw;
        top: -2.28vh;
    }

    .team-member-line-item-name {
        margin-left: 3%;
    }

    .team-member-line-item-phone {
        display: none;
    }

    .team-member-line-item-email {
        width: 56%;
    }

    .team-member-line-item-kebab-div {
        width: 6%;
    }

    .team-members-header-label {
        padding-left: 3%;
    }

    .ticket-section-header-label {
        padding-left: 3%;
    }

    .selected-ticket-info-header {
        padding-left: 3%;
        width: 60%;
    }

    #tickets {
        height: 75%;
    }

    .header-kebab-spacer {
        width: 6%;
        height: 10px;
    }

    .ticket-description {
        display: none;
    }

    .ticket-title {
        margin-left: 3%;
        width: 45%;
    }

    .ticket-author {
        width: 45%;
    }

    .ticket-kebab-div {
        width: 20px;
    }
}
