#modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 1rem;
    border-radius: .25rem;
    background-color: white;
  }
  
  #overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .75);
  }

.create-ticket-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ticket-section {
   background-color: rgb(229, 229, 229);
   width: 100%;
   height: 200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.ticket-ul {
  background-color: rgb(255, 255, 255);
  gap: 100px;
  width: 100%;
  display: flex;
  border-bottom: solid 1px;
  list-style: none;
}

ul {
  list-style: none;
}

.ticket-header {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 200px;
  margin-left: 275px
  
}

.ticket-info-row {
  display: flex;
  gap: 100px;
  margin-bottom: 30px;
}

.ticket-info-section {
  display: flex;
  flex-direction: column;
}