@use 'sass:map';

$theme: (
    light: light,
    dark: dark,
);

$breakpoints: (
    small: 900px,
    medium: 1150px,
    large: 1300px,
);

@mixin theme($key) {
    $theme: map.get($theme, $key);
    @media (prefers-color-scheme: $theme) {
        @content;
    }
}

@mixin mq($key) {
	$size: map.get($breakpoints, $key);
	
	@media (max-width: $size) {
		@content;
	}
};


@keyframes slideIn {
  0% {
    margin-left: 100%;
    width: 0px;
  }
  100% {
    margin-left: 0;
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

body {
  font-family: Helvetica;
  background-position: 0% 40%;
  background-size: cover;
  padding: 0;
  margin: 0;

  @include theme(light) {
    background-color: #f5f5f5;
    color: #cdcdcd;
  } 
  
  @include theme(dark) {
    background-color: rgb(24, 26, 27, 0.9);
    color: rgb(24, 26, 27, 0.9);
  }
  
  @include mq(small) {
    background-attachment: fixed;
  }
}

button {
  @include theme(light) {
    background-color: #c9c9c9;
    color: #ffffff;
  } 
  
  @include theme(dark) {
    background-color: rgb(24, 26, 27, 0.9);
    color: rgba(44, 42, 44, 0.9);
  }
}

.master-container {
  overflow-y: hidden;

  @include mq(small) {
    width: 100vw;
    overflow: hidden;
  }
}

.header {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding: 0px 25px;
  min-height: 40px;
  height: 5vh;
  max-height: 50px;
  transition: box-shadow .25s;
  border-width: 1.5px;
  border-bottom-style: solid;
  z-index: 1;
  box-shadow: 0 0 20px 0px rgb(0, 0, 0, .25);

  @include mq(large) {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    overflow-x: hidden;
    padding: 0;
  }

  @include mq(small) {
    height: 3em;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    overflow-x: hidden;
    padding: 0 4px 0 4px;
    margin: 0;
    z-index: 1003;
  }

  &-left {
    display: flex;
    align-items: center;
    cursor: pointer;

    @include mq(large) {
      margin-left: 25px;
    }

    @include mq(small) {
      margin: 0;
    }

    &-logo {
      margin-bottom: -2px;

      @include mq(small) {
        margin-bottom: 0;
      }
    }
  
    &-title {
      font-size: 1.75rem;
      margin: .5rem;
      font-weight: 550;
    }
  }

  &-right {
    display: flex;
    flex-direction: row;
    
    &-user-icon {
      border-radius: 50%;
      background-color: rgb(152 152 152 / 50%);
      padding: .5em;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 1.8em;
      height: 1.8em;
      border: none;
      color: inherit;
      font-size: 1em;

      @include mq(small) {
        margin: 0 9px 0 0;
      }

      &-container {
        width: auto;
        height: auto;

        @include mq(large) {
          margin-right: 25px;
        }

        @include mq(small) {
          margin: 0;
        }
      }
    }
  }
}

#honme {
  display: none;
}

.overlay {
  display: none;

  &.open {
    display: block;
    z-index: 500;
  }

  &-user-dropdown {
    position: fixed;
    width: 100vw;
    height: 100vh;
    border-radius: 10px;

    @include mq(small) {
      position: fixed;
      width: 100vw;
      height: 100vh;
      border-radius: 10px;
    }
  }

  &-blurred {
    background-color: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @include mq(small) {
      position: fixed;
      height: 100vh;
      width: 100vw;
      left: 0%;
    }
  }
}

.modal {
  display: none;

  &.open {
    display: block;
    z-index: 501;
  }

  &-user-dropdown {
    position:fixed;
    z-index: 9999;
    right: .2em;
    top: calc( 5vh + .2em );
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 25%);

    @include mq(small) {
      position: fixed;
      width: 80vw;
      height: fit-content;
      right: .2em;
      top: 3.3em;
      border-radius: 10px;
    }

    &-master {
      display: flex;
      flex-direction: column;
      padding: 1.25em .9em 15px .9em;

      @include mq(small) {
        display: flex;
        flex-direction: column;
        padding: 1.25em .9em;
      }
    }

    &-label {
      font-size: 1em;
      margin-bottom: .5em;
      margin-top: 0;

      @include mq(small) {
        font-size: 1em;
        margin-bottom: .5em;
        margin-top: 0;
      }
    }

    &-user-card {
      display: flex;
      flex-direction: row;

      @include mq(small) {
        display: flex;
        flex-direction: row;
      }

      &-icon-medium {
        border-radius: 50%;
        background-color: rgba(131, 127, 127, 0.99);
        padding: .25em;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        min-width: 2em;
        min-height: 2em;
        margin-right: .5em;
        font-size: 1.5em;

        @include mq(small) {
          margin-right: 1em;
        }
      }

      &-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: .5em 0;

        @include mq(small) {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: .5em 0;
        }

        &-name {
          font-weight: 600;

          @include mq(small) {
            font-weight: 600;
          }
        }

        &-email {
          font-size: .9em;

          @include mq(small) {
            font-size: .9em;
          }
        }
      }
    }

    &-background-form {
      width: 10em;

      &-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      &-btn {
        background-color: transparent;
        border: none;
        color: inherit;
        width: 10em;
        display: flex;
        justify-content: left;
      }

      &-input {
        border-radius: 1em;
        width: 95%;
      }
    }

    &-link {
      padding: .5em 0;
      font-size: .9em;
    }

    &-dark-mode {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @include mq(small) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      &-sliding-input {
        height: 0;
        width: 0;
        visibility: hidden;

        &-label {
          cursor: pointer;
          text-indent: -9999px;
          width: 3.5em;
          height: 2em;
          background: #d3d3d361;
          display: block;
          border-radius: 2em;
          position: relative;
          -webkit-tap-highlight-color: transparent;

          &:after {
            content: '';
            position: absolute;
            top: .15em;
            left: .15em;
            width: 1.7em;
            height: 1.7em;
            background: #fff;
            border-radius: 2em;
            transition: 0.3s;
          }
        }

        &:checked + .modal-user-dropdown-dark-mode-sliding-input-label {
          background: grey;
        }
  
        &:checked + .modal-user-dropdown-dark-mode-sliding-input-label:after {
          transform: translateX(calc(100% - .2em));
        }
      }
    }

    &-logout-btn {
      border: none;
      background-color: transparent;
      font-size: .9em;
      padding: 10px;
      border-radius: 5px;

      &:hover {
        background-color: rgb(0, 0, 0, .5);
      }
    }
  }

  &-add-members {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: .75rem;
    background-color: white;
    width: 25rem;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    @include mq(small) {
      z-index: 500;
      position: fixed;
      height: fit-content;
      width: 85vw;
      top: 53vh;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    &-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      @include mq(small) {
        height: 100%;
      }

      &-header {
        margin: 0 0 1rem 0;
        font-size: 2rem;
      }

      &-container {
        overflow-y: scroll;
        height: 15rem;
        border: solid 1px;
        border-radius: .5rem;
        margin-bottom: 1rem;
        width: 100%;
        overflow-x: hidden;

        @include mq(small) {
          height: 100%;
        }
      }
    }

    &-btn {
      border: none;
      border-radius: 1rem;
      padding: 7px 10px;
      width: 100%;
      cursor: pointer;
    }
  }

  &-generic {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: .75rem;
    background-color: white;
    width: 30%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
    @include mq(small) {
      z-index: 500;
      position: fixed;
      height: fit-content;
      width: 80vw;
      top: 53vh;
    }
  }
}

.delineator {
  width: 90%;
  border-bottom: solid 1px black;
  margin: 10px 0 -5px 0;

  &-full {
    width: 100%;
    border-bottom: solid 1px black;
    margin: 15px 0;
  }
}

.lower-half {
  &-master-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    @include mq(large) {
      width: 100vw;
      display: flex;
      flex-direction: column;
      height: 95vh;
      height: auto;
    }

    @include mq(small) {
      width: 100vw;
      display: flex;
      flex-direction: column;
      height: auto;
    }
  }

  &-sub-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    @include mq(large) {
      display: flex;
      flex-direction: row;
      height: 95vh;
    }
    
    @include mq(small) {
      display: flex;
      flex-direction: row;
      height: unset;
    }

  }
}

.mobile-spacer {
  @include mq(small) {
    height: 3em;
  }
}

.sidebar {
  &-master {
    width: 20em;
    height: 95vh;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-right: solid 1px rgb(0, 0, 0, .25);
    box-shadow: 0 0 20px 0px rgb(0, 0, 0, .25);
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(small) {
      z-index: 1002;
      width: 75vw;
      top: 9.5%;
      position: fixed;
      height: 95vh;
      overflow: scroll;
      left: calc(-75vw - 1px);
      top: 3em;
    }

    @include mq(large) {
      z-index: 800;
      width: 16rem;
      position: fixed;
      left: calc(-75vw - 1px);
      top: 5vh;
    }
  }

  &-links {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    padding-top: 5%;

    @include mq(small) {
      margin: 0 50px;
    }

    &-btn {
      padding: 2% 10%;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: large;
      font-weight: 800;
      cursor: pointer;

      &:hover {
        background-color: rgb(0, 0, 0, .3);
      }

      &-icon {
        width: 20px;
        margin-right: 1vw;
      }
    }
  }

  &-btn {
    &-master {
      display: none;

      @include mq(large) {
        display: block;
        background-color: transparent;
        border: none;
        width: 18px;
      }

      @include mq(small) {
        display: block;
        background-color: transparent;
        border: none;
        width: 18px;
      }
    }

    &-circle {
      display: none;

      @include mq(large) {
        border-radius: 50px;
        aspect-ratio: 1;
        width: 25px;
        height: 25px;
        border-width: 1px;
        border-style: solid;
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(40px);
        position: fixed;
        left: 0;
        top: 4.6rem;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 4px;
        font-size: .75em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
      }

      @include mq(small) {
        border-radius: 50px;
        aspect-ratio: 1;
        width: 25px;
        height: 25px;
        border-width: 1px;
        border-style: solid;
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(40px);
        position: fixed;
        left: 0;
        top: 4.3rem;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 4px;
        font-size: .75em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
      }
    }

    &-bar {
      @include mq(large) {
        width: 18px;
        height: 160vh;
        top: 0%;
        left: 0;
        position: fixed;
        border-width: 1px;
        border-right-style: solid;
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(40px);
      }

      @include mq(small) {
        width: 18px;
        height: 160vh;
        top: 0%;
        left: 0;
        position: fixed;
        border-width: 1px;
        border-right-style: solid;
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(40px);
      }
    }
  }

}

.pie {
  height: 100%;
  aspect-ratio: 1;
  position: absolute;
  display: inline-grid;
  place-content: center;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;

  &:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  }

  &-container {
    position: relative;
    aspect-ratio: 1;
    height: 16.5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-box {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include mq(small) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 4vh;
    }
  }

  &-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-title {
    justify-content: center;
    display: flex;
    margin-top: 1em;
  }

  &-legend {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    align-items: center;
    font-size: 10px;
    margin: 0 0 10px 0;

    &-text {
      display: flex;
      flex-direction: row;
      width: auto;
    }

    &-bottom-dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }

    &-middle-dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }

    &-top-dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
}

.content-section {
  width: 100%;
  margin: 0 2% 0 2%;
}

.page-header {
  margin: 1.5rem 0 1% 0;
  font-size: 2.5rem;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30%;

  @include mq(small) {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
  }
}


.team-members {
  &-master {
    width: 32.5%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    border-radius: 15px;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    box-shadow: 0 0 20px 0px rgb(0, 0, 0, .25);
    z-index: 2;
  
    @include mq(medium) {
      width: 35%;
    }

    @include mq(small) {
      width: 90%;
      margin-bottom: 1em;
      height: 30vh;
    }
  }

  &-header {

    &-master {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;
      width: 100%;
      border-radius: 15px 15px 0 0;
      border-width: 1.5px;
      border-bottom-style: solid;
      border-color: rgb(28, 28, 28);
      height: 2.5em;
    }

    &-label {
      padding-left: 10px;

      @include mq(small) {
        padding-left: 3%;
      }
    }
  }

  &-categories {

    &-master {
      width: 100%;
      height: 1.3em;
      display: flex;
      border-bottom-style: solid;
      border-width: 1.5px;
      border-color: black;
    }

    &-name {
      width: 35%;
      overflow: hidden;
      display: flex;
      align-items: center;
      line-height: 1em;
      white-space: nowrap;
      margin-left: .75rem;
      
      @include mq(small) {
        margin-left: 3%;
      }
    }

    &-email {
      width: 33%;
      overflow: hidden;
      display: flex;
      align-items: center;
      line-height: 1em;
      white-space: nowrap;
      margin-left: .75rem;

      @include mq(small) {
        width: 56%;
      }
    }

    &-phone {
      width: 27%;
      overflow: hidden;
      display: flex;
      align-items: center;
      line-height: 1em;
      white-space: nowrap;
      margin-left: .75rem;

      @include mq(small) {
        display: none;
      }
    }

    &-kebab-spacer {
      width: 5%;
      margin-left: .75rem;

      @include mq(small) {
        width: 6%;
        height: 10px;
      }
    }
  }

  &-body {
    width: 100%;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }


}


.create-ticket {
  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 10px;

    @include mq(small) {
      height: 100%;
    }

    &label {
      margin-bottom: -.5rem;
      font-size: .75rem;
    }

    &input {
      width: auto;
    }

    &select {
      width: 100%;
    }

    &-header {
      margin: 0;
      font-size: 2rem;
    }
  }

  &-description {
    max-height: 8rem;
    min-height: 5rem;
    resize: vertical;
    font-family: inherit;

    @include mq(small) {
      height: 100%;
    }
  }

  &-priority {
    margin-bottom: .75em;
  }

  &-btn {
    border: none;
    border-radius: 1rem;
    padding: 7px 10px;
    width: 100%;
    cursor: pointer;
  }
}

.ticket {
  &-section {
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 20px 0px rgb(0, 0, 0, .25);
    z-index: 1;

    @include mq(medium) {
      width: 62.5%;
    }

    @include mq(small) {
      width: 90%;
      margin-bottom: 1em;
      height: 55vh;
    }

    &-header-label {
      padding-left: 10px;

      @include mq(small) {
        padding-left: 3%;
      }
    }
  }

  &-header {
    width: 100%;
    height: 1.3em;
    display: flex;
    border-bottom-style: solid;
    border-width: 1.5px;
    border-color: black;

    &-left {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    &-kebab-spacer {
      width: 5%;
    }
  }

  &-title {
    width: 30%;
    height: 1em;
    overflow: hidden;
    white-space: nowrap;
    margin-left: .75rem;

    @include mq(small) {
      margin-left: 3%;
      width: 45%;
      white-space: unset;
    }
  }

  &-description {
    width: 45%;
    height: 1em;
    overflow: hidden;
    margin-left: .75rem;
    
    @include mq(small) {
      display: none;
    }
  }

  &-author {
    width: 20%;
    height: 1em;
    overflow: hidden;
    white-space: nowrap;
    margin-left: .75rem;

    @include mq(small) {
      width: 45%;
    }
  }
}

.bottom-row {
  height: 45vh;

  @include mq(small) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 1em 0;
    height: 39.5em;
  }

  &-sub-container {
    border-radius: 15px 15px 15px 15px;
    margin: 2% 0 0 0;
    padding: 0 0 0 0;
    box-shadow: 0 0 20px 0px rgb(0, 0, 0, .25);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    height: 100%;

    @include mq(small) {
      margin: 0;
      width: 90%;
    }
  }
}

/* Selected Ticket Info Section */
.ticket-info {
  &-header {
    padding-left: 10px;

    @include mq(small) {
      padding-left: 3%;
      width: 60%;
    }
  }

  &-master {
    height: 85%;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: space-between;

    @include mq(small) {
      display: flex;
      flex-direction: column;
    }
  }

  &-left {
    height: 100%;
    width: 60%;
    padding: 1rem .75rem;
    box-sizing: border-box;

    @include mq(small) {
      border-bottom: solid 1px black;
      height: 26vh;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: .5em .5em .5em 3%;
      box-sizing: border-box;
      width: 100%;
    }

    &-top-row {
      display: flex;
      margin-bottom: 30px;

      @include mq(small) {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
      }
    }
  }

  &-mobile-top {
    display: flex;
    flex-direction: row;
    width: 66%;

    @include mq(small) {
      display: flex;
      min-height: 3em;
      width: 100%;
    }

    &-ticket-info-section {
      width: 50%;
      display: flex;
      flex-direction: column;
    }
  }

  &-mobile-bottom {
    &-ticket-info-section {
      width: 33%;
      display: flex;
      flex-direction: column;

      @include mq(small) {
        width: 100%;
      }
    }
  }

  &-properties {
    font-size: .75em;
    font-weight: 100;
    margin-top: .5em;
  }

  &-bottom-row {
    display: flex;
    flex-direction: column;
    width: 33%;

    @include mq(small) {
      width: 33%;
    }

    &-master {
      display: flex;
      margin-bottom: 30px;

      @include mq(small) {
        margin-top: 1em;
        margin-bottom: 0;
      }
    }
  }

  &-characteristics {
    color: white;
    width: fit-content;
    padding: .25em .5em;
    border-radius: 1em;
    font-size: .6em;
    font-weight: 100;
    margin-top: .5em;
  }

  &-right {
    &-chat-section {
      width: 40%;
      height: 100%;
      border-left: solid black 1px;
      border-radius: 0 0 15px 0;
  
      @include mq(small) {
        width: 100%;
        border: none;
        height: 49vh;
      }
    }

    &-chatbox {
      height: 90%;
      width: 100%;
      overflow: auto;
  
      @include mq(small) {
        width: 100%;
        height: 49vh;
      }
    }

    &-comment-form {
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      &-input {
        width: 70%;
        border-radius: 10px;
      }

      &-btn {
        border-radius: 10px;
        border: solid rgb(50, 125, 255);
        background-color: rgb(50, 125, 255);
        color: white;
      }
    }
  }
}

.edit-ticket {
  &-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: left;

    @include mq(small) {
      height: 100%;
    }

    &label {
      margin-bottom: -.5rem;
      font-size: .75rem;
    }

    &input {
      width: auto;
    }

    &select {
      width: 100%;
    }

    &-header {
      margin: 0;
      font-size: 2rem;
    }
  }

  &-title {

  }

  &-description {
    max-height: 8rem;
    min-height: 5rem;
    resize: vertical;
    font-family: inherit;

    @include mq(small) {
      height: 100%;
    }
  }

  &-status {

  }

  &-type {

  }

  &-priority {
    margin-bottom: .75em;
  }

  &-btn {
    border: none;
    border-radius: 1rem;
    padding: 7px 10px;
    width: 100%;
    cursor: pointer;
  }
}







.delete-button-modal {
  position: absolute;
  width: 100%;
}
  
.team-member-delete-button {
  background-color: red;
  border: none;
  border-radius: 2px;
  width: 100%;
  right: 0;
  top: -2.1vh;
  animation: fadeIn .15s, slideIn .15s linear;
}

.clear-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#memberModalBtn {
  border-radius: 25px;
  border-style: none;
  padding: 7px 10px;
  margin: 0 6px;
  cursor: pointer;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-member-line-item {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  padding: 0;
  margin: 0;
  border-bottom: solid 1px black;
  height: 1.5em;
  font-weight: 100;
  font-size: .75em;
  align-items: center;
  white-space: nowrap;
  position: relative;
}

.team-member-line-item:hover {
  background-color: rgb(0, 0, 0, .3);
}

.team-member-line-item-kebab-div {
  width: 5%;
  margin-left: .75rem;
  display: flex;
  justify-content: right;
}

.team-member-line-item-kebab {
  padding: 0;
  width: 1.5em;
  border-radius: 2px;
  height: 100%;
  background-color: transparent;
  border: transparent;
  margin-right: 2px;
}

.team-member-line-item-kebab:hover {
  background-color: rgb(0, 0, 0, .3);
}

.team-member-line-item-kebab-text {
  writing-mode: vertical-rl;
  position: relative;
  top: 1.5px;
  left: 3px;
}

.populated-member-list {
  border: solid black;
  width: 90%;
  min-height: auto;
}

.new-member-main-div {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: auto;
  width: auto;
  gap: 10%;
  padding: 3%;
  border-bottom: solid 1px;
}

.new-member-checkbox-div {
  padding: auto;
}

.new-member-icon-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(184, 184, 184);
  color: white;
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  margin: 3px 8px 0 10px
}

.new-member-name-div {
  width: 40%;
  height: auto;
  min-width: fit-content;
}

.new-member-email-div {
  height: auto;
  width: 50%;
  font-size: .75em;
}



#ticketModalBtn {
  border-radius: 25px;
  border-style: none;
  padding: 7px 10px;
  margin: 0 6px;
  cursor: pointer;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tickets {
  width: 100%;
  height: 65%;
  margin: 0;
  padding: 0;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#tickets::-webkit-scrollbar {
  display: none;
}

.ticket-ul {
  width: 100%;
  display: flex;
  justify-content: left;
  border-bottom: solid 1px black;
  list-style-type: none;
  overflow: hidden;
  height: 1.5em;
  font-weight: 100;
  font-size: .75em;
  max-height: 5vh;
  align-items: center;
  position: relative;
}

.ticket-ul:hover {
  background-color: rgb(0, 0, 0, .3);
}

.ticket-kebab-div {
  width: 5%;
  display: flex;
  justify-content: right;
}

.ticket-kebab-button {
  padding: 0;
  width: 1.5em;
  height: 100%;
  border-radius: 2px;
  background-color: transparent;
  border: transparent;
  margin-right: 2px;
}

.ticket-kebab-button:hover {
  background-color: rgb(0, 0, 0, .3);
}

.ticket-kebab-button-text {
  writing-mode: vertical-rl;
  position: relative;
  top: 1.5px;
  left: 1px;
}

.ticket-delete-button {
  background-color: red;
  border: none;
  border-radius: 2px;
  width: 100%;
  right: 0;
  top: -2.1vh;
  animation: fadeIn .15s, slideIn .15s linear;
}

.entire-message {
  display: flex;
  padding: 10px;
}

.user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(184, 184, 184);
  color: white;
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  margin: 3px 8px 0 10px
}

.comment-right {
  width: 50%;
  padding-bottom: 15px;
}

.name-and-timestamp-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: light;
  color: gray;
  font-size: .75em;
}

.message-content {
  background-color: rgb(50, 125, 255);
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: .75em;
}

@media (max-width: 1300px) {
  .lower-half {

  }

  .page-header {
    margin: 1.5rem 0 1% 0;
  }

 .sidebar-button-bar-spacer {
      width: 18px;
  }

  .content-section {
      width: 100vw;
      margin: 0 25px;
  }

  .mobile-spacer {
    height: 5vh;
  }
}

@media (max-width: 1150px) {
  .team-member-line-item-phone {
    display: none;
  }

  .team-member-line-item-name {
    width: 37%;
  }
  
  .team-member-line-item-email {
    width: 49%;
  }
}

  // .ticket-section {
  //   width: 62.5%;
  // }

  // .team-members {
  //   width: 35%;
  // }

// .header-kebab-spacer {
//   width: 5%;
//   margin-left: .75rem;
// }

// .user-dropdown-overlay {
//   position: fixed;
//   width: 100vw;
//   height: 100vh;
//   border-radius: 10px;
// }

// .udo-dark-mode-btn {
//   background-color: black;
//   border: none;
//   width: 4.5em;
//   height: 2em;
//   border-radius: 15em;
// }

// .dashboard-master {
//   width: 20em;
//   height: 95vh;
//   backdrop-filter: blur(40px);
//   -webkit-backdrop-filter: blur(40px);
//   border-right: solid 1px rgb(0, 0, 0, .25);
//   box-shadow: 0 0 20px 0px rgb(0, 0, 0, .25);
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .text {
//   display: flex;
//   flex-direction: row;
//   width: auto;
// }

// .bottom-dot {
//   width: 10px;
//   height: 10px;
//   border-radius: 50%;
// }

// .middle-dot {
//   width: 10px;
//   height: 10px;
//   border-radius: 50%;
// }

// .top-dot {
//   width: 10px;
//   height: 10px;
//   border-radius: 50%;
// }

// .pie {
//   height: 100%;
//   aspect-ratio: 1;
//   position: absolute;
//   display: inline-grid;
//   place-content: center;
//   font-size: 25px;
//   font-weight: bold;
//   font-family: sans-serif;
// }

// .pie:before {
//   content: "";
//   position: absolute;
//   border-radius: 50%;
//   inset: 0;
//   background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
//   mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
//   -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
// }

// .pie-box {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
// }

// .pie-container {
//   position: relative;
//   aspect-ratio: 1;
//   height: 16.5%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .pie-title {
//   justify-content: center;
//   display: flex;
//   margin-top: 1em;
// }

// .pie-header {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

// .legend {
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   gap: 5%;
//   align-items: center;
//   font-size: 10px;
//   margin: 0 0 10px 0;
// }

// .sidebar-button-circle {
//   display: none;
// }

// .sidebar-button {
//   display: none;
// }

/* Selected Ticket Info Section */
/* toggle button */

// .populatable-member-modal {
//   position: absolute;
//   top: 40%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   padding: 1rem;
//   border-radius: .75rem;
//   background-color: white;
//   width: 25rem;
//   height: auto;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
// }

// .add-member-form {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// .add-member-form-header {
//   margin: 0 0 1rem 0;
//   font-size: 2rem;
// }

// .populatable-member-div {
//   overflow-y: scroll;
//   height: 15rem;
//   border: solid 1px;
//   border-radius: .5rem;
//   margin-bottom: 1rem;
//   width: 100%;
//   overflow-x: hidden;
// }

// .add-member-btn {
//   border: none;
//   border-radius: 1rem;
//   padding: 7px 10px;
//   width: 100%;
//   cursor: pointer;
// }

  // .sidebar-button-circle {
  //     border-radius: 50px;
  //     aspect-ratio: 1;
  //     width: 25px;
  //     height: 25px;
  //     border-width: 1px;
  //     border-style: solid;
  //     backdrop-filter: blur(40px);
  //     -webkit-backdrop-filter: blur(40px);
  //     position: fixed;
  //     left: 0;
  //     top: 4.6rem;
  //     z-index: 3;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     margin-left: 4px;
  //     font-size: .75em;
  //     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  // }

  // .sidebar-button {
  //     display: block;
  //     background-color: transparent;
  //     border: none;
  //     width: 18px;
  // }   

  // .sidebar-button-bar {
  //     width: 18px;
  //     height: 160vh;
  //     top: 0%;
  //     left: 0;
  //     position: fixed;
  //     border-width: 1px;
  //     border-right-style: solid;
  //     backdrop-filter: blur(40px);
  //     -webkit-backdrop-filter: blur(40px);
  // }
  
    // .dashboard-master {
  //     z-index: 800;
  //     width: 16rem;
  //     position: fixed;
  //     left: calc(-75vw - 1px);
  //     top: 5vh;
  // }

  // .blurred-overlay {
//   background-color: transparent;
//   backdrop-filter: blur(5px);
//   -webkit-backdrop-filter: blur(5px);
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
// }



/* team member section */
// .team-member-body {
//   width: 100%;
// }

/* top row */


// .top-row-top-section {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
//   margin: 0;
//   padding: 0;
//   width: 100%;
//   border-radius: 15px 15px 0 0;
//   border-width: 1.5px;
//   border-bottom-style: solid;
//   border-color: rgb(28, 28, 28);
//   height: 2.5em;
// }

// .team-members-header-label {
//   padding-left: 10px;
// }

// .team-member-header {
//   width: 100%;
//   height: 1.3em;
//   display: flex;
//   border-bottom-style: solid;
//   border-width: 1.5px;
//   border-color: black;
// }

// .team-member-body {
//   overflow: scroll;
//   -ms-overflow-style: none;  /* IE and Edge */
//   scrollbar-width: none;  /* Firefox */
// }

// .team-member-body::-webkit-scrollbar {
// display: none;
// }

// .team-member-line-item-name {
//   width: 35%;
//   overflow: hidden;
//   display: flex;
//   align-items: center;
//   line-height: 1em;
//   white-space: nowrap;
//   margin-left: .75rem;
// }

// .team-member-line-item-email {
//   width: 33%;
//   overflow: hidden;
//   display: flex;
//   align-items: center;
//   line-height: 1em;
//   white-space: nowrap;
//   margin-left: .75rem;
// }

// .team-member-line-item-phone {
//   width: 27%;
//   overflow: hidden;
//   display: flex;
//   align-items: center;
//   line-height: 1em;
//   white-space: nowrap;
//   margin-left: .75rem;
// }

// .create-ticket-form {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: left;
// }

// .create-ticket-form label {
// margin-bottom: -.5rem;
// font-size: .75rem;
// }

// .create-ticket-form input {
//   width: auto;
// }

// .create-ticket-form select {
//   width: 100%;
// }

// .create-ticket-form-header {
//   margin: 0;
//   font-size: 2rem;
// }

// .create-ticket-description {
//   max-height: 8rem;
//   min-height: 5rem;
//   resize: vertical;
//   font-family: inherit;
// }

// .create-ticket-btn {
//   border: none;
//   border-radius: 1rem;
//   padding: 7px 10px;
//   width: 100%;
//   cursor: pointer;
// }

// .create-ticket-priority {
//   margin-bottom: .75em;
// }

/* ticket section */
// .create-ticket-form {
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
// }

// .ticket-section {
//   backdrop-filter: blur(40px);
//   -webkit-backdrop-filter: blur(40px);
//   width: 65%;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: top;
//   align-items: center;
//   border-radius: 15px;
//   box-shadow: 0 0 20px 0px rgb(0, 0, 0, .25);
//   z-index: 1;
// }

// .ticket-section-header-label {
//   padding-left: 10px;
// }

// .ticket-header {
//   width: 100%;
//   height: 1.3em;
//   display: flex;
//   border-bottom-style: solid;
//   border-width: 1.5px;
//   border-color: black;
// }

// .ticket-header-left {
//   display: flex;
//   flex-direction: row;
//   width: 100%;
// }

// .ticket-title {
//   width: 30%;
//   height: 1em;
//   overflow: hidden;
//   white-space: nowrap;
//   margin-left: .75rem;
// }

// .ticket-description {
//   width: 45%;
//   height: 1em;
//   overflow: hidden;
//   margin-left: .75rem;
// }

// .ticket-author {
//   width: 20%;
//   height: 1em;
//   overflow: hidden;
//   white-space: nowrap;
//   margin-left: .75rem;
// }

// .ticket-header-kebab-spacer {
//   width: 5%;
// }

// .left-ticket-info-section {
//   height: 100%;
//   width: 60%;
//   padding: 1rem .75rem;
//   box-sizing: border-box;
// }

// .mobile-top {
//   display: flex;
//   flex-direction: row;
//   width: 66%;
// }

// .mobile-top-ticket-info-section {
//   width: 50%;
//   display: flex;
//   flex-direction: column;
// }


// .ticket-info {
//   height: 85%;
//   border-radius: 0 0 15px 15px;
//   display: flex;
//   justify-content: space-between;
// }

// .ticket-info-row-top {
//   display: flex;
//   margin-bottom: 30px;
// }

// .ticket-properties {
//   font-size: .75em;
//   font-weight: 100;
//   margin-top: .5em;
// }

// .ticket-characteristics {
//   color: white;
//   width: fit-content;
//   padding: .25em .5em;
//   border-radius: 1em;
//   font-size: .6em;
//   font-weight: 100;
//   margin-top: .5em;
// }

// .right-chat-section {
//   width: 40%;
//   height: 100%;
//   border-left: solid black 1px;
//   border-radius: 0 0 15px 0;

// }

/* Chatbox Section  */
// .chatbox {
//   height: 90%;
//   width: 100%;
//   overflow: auto;
// }

// .comment-input-form {
//   width: 100%;
//   height: 10%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 10px;
// }

// .comment-input-form-input {
//   width: 70%;
//   border-radius: 10px;
// }

// .comment-input-form-button {
//   border-radius: 10px;
//   border: solid rgb(50, 125, 255);
//   background-color: rgb(50, 125, 255);
//   color: white;
// }

// .mobile-bottom-ticket-info-section {
//   width: 33%;
//   display: flex;
//   flex-direction: column;
// }

// .ticket-info-section {
//   display: flex;
//   flex-direction: column;
//   width: 33%;
// }

// .ticket-info-row-bottom {
//   display: flex;
//   margin-bottom: 30px;
// }


// .all-other-modals {
//   position: absolute;
//   top: 40%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   padding: 1rem;
//   border-radius: .75rem;
//   background-color: white;
//   width: 30%;
//   height: auto;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

//   @include mq(small) {
//     z-index: 500;
//     position: fixed;
//     height: fit-content;
//     width: 80vw;
//     top: 53vh;
//   }
// }


/* Edit Ticket Form */
// .edit-ticket-form {
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
// }

// .edit-ticket-form {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: left;
// }

// .edit-ticket-form label {
// margin-bottom: -.5rem;
// font-size: .75rem;
// }

// .edit-ticket-form input {
//   width: auto;
// }

// .edit-ticket-form select {
//   width: 100%;
// }

// .edit-ticket-form-header {
//   margin: 0;
//   font-size: 2rem;
// }

// .edit-ticket-description {
//   max-height: 8rem;
//   min-height: 5rem;
//   resize: vertical;
//   font-family: inherit;
// }

// .edit-ticket-btn {
//   border: none;
//   border-radius: 1rem;
//   padding: 7px 10px;
//   width: 100%;
//   cursor: pointer;
// }

// .edit-ticket-priority {
//   margin-bottom: .75em;
// }