body {
  font-family: Graphik-Semibold,sans-serif;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0; */
}

.hidden {
  display: none;
}




ul,li { list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0; }


#modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 1rem;
    border-radius: .25rem;
    background-color: white;
  }
  
  #overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .75);
  }


/* top row **************************************************************** */
.top-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%
}

  /* team member section **************************************************************** */

  .team-members {
    background-color: rgb(229, 229, 229);
    width: 40%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black;
    padding: 30px;
  }
  /* team member section **************************************************************** */
  

  /* ticket section **************************************************************** */
  .create-ticket-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .ticket-section {
    background-color: rgb(229, 229, 229);
    width: 40%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black;
    padding: 30px;
  }

  .ticket-header {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 200px;
    border-bottom: solid black;
    
  }

  .ticket-ul {
    color: blue;
    background-color: rgb(255, 255, 255);
    gap: 200px;
    width: 100%;
    display: flex;
    border-bottom: solid black;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
  }



  /* ticket section **************************************************************** */
/* top row **************************************************************** */



/* Selected Ticket Info Section **************************************************************** */

.ticket-info {
  background-color: rgb(229, 229, 229);
  width: 90%;
  height: 100%;
  border: solid black;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.ticket-info-section {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.ticket-info-row {
  display: flex;
  gap: 100px;
  margin-bottom: 30px;
}

.right-chat-section {
  width: 50%;
  height: 400px;
  background-color: white;
  /* justify-content: right; */
  /* align-items: right; */
}

.chatbox {
  background-color: rgb(40, 40, 40);
  height: 90%;
  width: 100%;
  
}

.entire-message {
  display: flex;
  background-color: rgb(148, 148, 148);
}

.user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  color: white;
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  margin: 0 10px 0 10px
}

.name-and-timestamp-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}

.message-content {
  width: 100%;
}

/* Selected Ticket Info Section **************************************************************** */
