body {
  font-family: Graphik,sans-serif;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0; */
}

.hidden {
  display: none;
}




ul,li { list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0; }


#modal {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid black; */
    padding: 1rem;
    border-radius: .75rem;
    background-color: white;
    width: 30%;
    height: auto;
    box-shadow: 0 0 10px #919191;

  }
  
  #overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, .75); */
    backdrop-filter: blur(5px);
  }


/* top row **************************************************************** */
.top-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: 5% */
  margin: 0 5% 0 5%;
}

.top-row-top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%
}

  /* team member section **************************************************************** */

  .team-members {
    background-color: rgb(229, 229, 229);
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black;
    padding: 30px;
  }

  .team-member-header {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20%;
    border-bottom: solid black;
  }

  .team-member-line-item {
    display: flex;
    flex-direction: row;
    gap: 10%;
    width: 100%;
    height: auto;
    background-color: white;
    padding: 0;
    margin: 0;
    border-bottom: solid black;
  }

  .team-member-line-item-name {
    width: 30%;
    overflow: hidden;
  }

  .team-member-line-item-email {
    width: 20%;
    overflow: hidden;

  }

  .team-member-line-item-phone {
    width: 40%;
    overflow: hidden;

  }

  .team-member-line-item-kebab {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    width: 10%;
  }

  .populated-member-list {
    border: solid black;
    width: 90%;
    min-height: auto;
  }

  .new-member-main-div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: auto;
    width: auto;
    gap: 10%;
    padding: 3%;
    border-bottom: solid black;
  }

  .new-member-checkbox-div {
    padding: auto;
  }

  .new-member-icon-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(184, 184, 184);
    color: white;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    margin: 3px 8px 0 10px
  }

  .new-member-name-div {
    width: 40%;
    height: auto;
  }

  .new-member-email-div {
    height: auto;
    width: 50%
  }

  /* team member section **************************************************************** */
  

  /* ticket section **************************************************************** */
  .create-ticket-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .ticket-section {
    background-color: rgb(229, 229, 229);
    width: 70%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black;
    padding: 30px;
  }

  .ticket-header {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 200px;
    border-bottom: solid black;
    
  }

  .ticket-ul {
    color: rgb(50, 125, 255);
    background-color: rgb(255, 255, 255);
    gap: 200px;
    width: 100%;
    display: flex;
    border-bottom: solid black;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
  }



  /* ticket section **************************************************************** */
/* top row **************************************************************** */



/* Selected Ticket Info Section **************************************************************** */

.ticket-info {
  background-color: rgb(229, 229, 229);
  width: 90%;
  height: 100%;
  border: solid black;
  display: flex;
  justify-content: space-between;
  margin: 0 5% 0 5%;
  /* align-items: center; */
}

.ticket-info-section {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.ticket-info-row {
  display: flex;
  gap: 100px;
  margin-bottom: 30px;
}

.right-chat-section {
  width: 40%;
  height: 400px;
  background-color: rgb(229, 229, 229);
  border-left: solid black

  /* justify-content: right; */
  /* align-items: right; */
}
        /* Chatbox Section **************************************************************** */

        .chatbox {
          height: 90%;
          width: 100%;
          /* border-left: solid black ;
          border-right: solid black ; */
          overflow: auto;
        }
        
        .comment-input-form {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
        }

        .comment-input-form-input {
          width: 70%;
          border-radius: 10px;
        }

        .comment-input-form-button {
          border-radius: 10px;
          border: solid rgb(50, 125, 255);
          background-color: rgb(50, 125, 255);
          color: white;
        }

        .entire-message {
          display: flex;
          padding: 10px;
        }

        .user-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgb(184, 184, 184);
          color: white;
          min-width: 40px;
          min-height: 40px;
          max-width: 40px;
          max-height: 40px;
          border-radius: 50%;
          margin: 3px 8px 0 10px
        }

        .comment-right {
          width: 50%;
          padding-bottom: 15px;
        }

        .name-and-timestamp-section {
          display: flex;
          justify-content: space-between;
          width: 100%;
          font-weight: light;
          color: gray;
        }

        .message-content {
          background-color: rgb(50, 125, 255);
          color: white;
          width: 100%;
          padding: 10px;
          border-radius: 10px;
        }
        /* Chatbox Section **************************************************************** */


/* Selected Ticket Info Section **************************************************************** */
